In [16]:
import pandas as pd
import numpy as np
import requests
import json
from config import apikey

In [28]:
base_url = "https://www.mapquestapi.com/search/v2/radius?origin=houston,+tx&radius=18&maxMatches=250&ambiguities=ignore&hostedData=mqap.ntpois|group_sic_code=?|541105&outFormat=json&key="
    
url = base_url + apikey

home_url = "https://www.mapquestapi.com/search/v2/radius?origin=sanantonio,+tx&radius=18&maxMatches=250&ambiguities=ignore&hostedData=mqap.ntpois|group_sic_code=?|541105&outFormat=json&key="
sananurl = home_url + apikey


# run a request using our params dictionary
response = requests.get(url).json()
responses = requests.get(sananurl).json()

In [25]:
# convert response to json
#name = response["searchResults"]["name"]
#address = response["searchResults"]["fields"]["address"]
#city =response["searchResults"]["fields"]["city"]

name_list = []
address_list = []
city_list = []


for data in response["searchResults"]:
    name_list.append(data["name"])
    address_list.append(data["fields"]["address"])
    city_list.append(data["fields"]["city"])
    
    
    
    
    

# Print the json (pretty printed)
#print(response.keys)
#print(json.dumps(response, indent=4, sort_keys=True))

In [34]:
naminglist = []
addressing = []
cities = []

for data in responses["searchResults"]:
    naminglist.append(data["name"])
    addressing.append(data["fields"]["address"])
    cities.append(data["fields"]["city"])

In [32]:
grocerydf = pd.DataFrame({
    "Grocery Store": name_list,
    "Address": address_list,
    "City": city_list
})

grocerydf.head()

          Address     City        Grocery Store
0    802 Milam St  Houston  Just Poppin Popcorn
1  1130 Travis St  Houston    Travis Food Store
2     914 Main St  Houston    Amogh Gelato Blue
3     930 Main St  Houston                 Rico
4   1001 Texas St  Houston  Binz 1001 Texas Ave

In [35]:
sanandf = pd.DataFrame({
    "Grocery Store": naminglist,
    "Address": addressing,
    "City": cities
})
sanandf.head()

             Address         City      Grocery Store
0  119 E Commerce St  San Antonio  Lucky's Food Mart
1  139 E Commerce St  San Antonio      777 Food Mart
2  201 E Commerce St  San Antonio        Riodegelato
3      226 Dwyer Ave  San Antonio             Hippos
4  514 W Commerce St  San Antonio           Munchies